@import "tailwindcss";

/* Paleta de Cores - Larica */

:root {
  /*Cor Primária*/
  --color-primary-main: #f36600;
  --color-primary-one: #f48331;
  --color-primary-two: #f49f62;
  --color-primary-three: #f4bc93;
  --color-primary-four: #f5d8c4;

  /*Cor Secundária*/
  --color-secondary-main: #25691b;
  --color-secondary-one: #4f8546;
  --color-secondary-two: #78a172;
  --color-secondary-three: #a2bd9e;
  --color-secondary-four: #cbd9c9;

  /*Cores Escuras*/
  --color-dark-main: #0d0d0d;
  --color-dark-one: #151515;
  --color-dark-two: #3b3b3b;
  --color-dark-three: #6a6a6a;
  --color-dark-four: #575757;

  /**Cores Claras**/
  --color-light-main: #f8f8f8;
  --color-light-one: #f0f0f0;
  --color-light-two: #e8e8e8;
  --color-light-three: #e2e2e2;
  --color-light-four: #dfdfdf;
}

/* Reset e Estilos Base */

body {
  background-color: var(--color-dark-main);
  color: var(--color-light-main);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

/* Tipografia */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--color-secondary-main);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-seco-one);
}

/* Botões */

@layer base {
  button {
    @apply px-4 py-2 rounded-md bg-primary-main hover:bg-primary-one transition-colors cursor-pointer disabled:opacity-60 disabled:cursor-not-allowed;
  }

  input {
    @apply w-full px-2 py-2 border rounded bg-dark-one border-dark-four;
  }
}
@variant dark (&:where(.dark, .dark *));
